<div class="container col-12 row avail-loan" style="margin-top:1%">
    <div class="col-md-5 col-sm-12 col-xs-12">
        <header class="col-md-9 col-sm-12 col-xs-12 headerStyle">
            <h1>We make it Super Simple</h1>
            <div class="border" style="width: 30%;">
            </div>
        </header>
        <loan-steps></loan-steps>
    </div>
    <div class="col-md-7 col-sm-12 col-xs-12 row apply-loan-card">
        <div class="col-lg-8 col-md-7 col-xs-7 topAligned">
            <eligibility-calculator>
            </eligibility-calculator>
        </div>
        <div class="col-lg-4 col-md-5">
            <proceed-loan>
            </proceed-loan>
        </div>
        <div class="col-12 displayDots">
            <div class="col-7 floatRight">
                <dots [dotStyle]="bottomDotStyle"></dots>
            </div>
        </div>
    </div>          
</div>
