.half-circle {
    width: 250px;
    height: 500px;
    background-color: #9F62C980;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    opacity : .4 
}

.outer-circle{
  width: 260px;
  height:500px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  border-left : 0;
  border-style : dotted;
  border-color : grey ;
}