.loanSteps{
    background-image : url("./../../assets/images/load-steps.jpg");
    background-size : contain;
    width : 100%;
    height: 500px;
    opacity : 1;
    background-repeat: no-repeat;
    margin-top: 8%;
}

