<div class="row">
    <div class="col-2">
        <half-circl-dotted></half-circl-dotted>
    </div>
    <div class="col-10 row">
        <section class="col-12 row availLoanContents">
            <header class="mainHeader">
                <div class="border" style="width: 17%">
                </div>
                <h1>
                    Avail Open’s Back-to-Business loans
                </h1>
                <h6 style="font-weight:400;">
                    Go from surviving to thriving during lockdown
                </h6>
            </header>
            <div class="col-12 displayDots">
                <div class="col-4">
                    <dots [dotStyle]="topDotStyle"></dots>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 displayAvailLoanImage">
                <div class="imageDots">
                    <dots [dotStyle]="opacDotStyle"></dots> 
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <ul class="list-group" *ngIf="(loanFeatureList$ | async) as loanFeaturesList">
                    <load-feature *ngFor="let loadFeature of loanFeaturesList" [loanFeature]="loadFeature"></load-feature>
                </ul>
            </div>
        </section>
    </div>
</div>
